{% extends "core/base.html" %}{% load static %} {% block title%}
<title>Log in - Brand</title>
{% endblock %} {% block content %}

<section class="py-5">
  <div class="container py-5">
    <div class="row mb-4 mb-lg-5">
      <div class="col-md-8 col-xl-6 text-center mx-auto">
        <h2 class="fw-bold">Welcome back</h2>
      </div>
    </div>
    <div
      class="alert alert-success"
      role="alert"
      style="
        width: auto;
        color: rgb(147, 0, 0);
        font-weight: bold;
        background: rgb(211, 205, 199);
        border-style: none;
        text-align: center;
        padding: 0;
        margin-right: 25%;
        margin-left: 25%;
      "
    >
      <span id="alert" style="text-align: center">{{alert}}</span>
    </div>
    <div
      class="alert alert-success"
      role="alert"
      style="
        width: auto;
        font-weight: bold;
        border-style: none;
        text-align: center;
        padding: 0;
        margin-right: 25%;
        margin-left: 25%;
      "
    >
      <span id="alert" style="text-align: center">{{s_alert}}</span>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4">
        <div class="card">
          <div
            class="card-body text-center d-flex flex-column align-items-center"
          >
            <div
              class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4"
              style="background: rgb(142, 93, 161)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="1em"
                height="1em"
                fill="currentColor"
                viewBox="0 0 16 16"
                class="bi bi-person"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"
                ></path>
              </svg>
            </div>
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                  value="{{ email }}"
                />
              </div>
              <div class="d-none mb-3" id="login_with_pass">
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  id="password"
                  placeholder="Password"
                />
              </div>

              <div class="d-flex mb-3" id="login_with_otp">
                <input
                  class="form-control"
                  type="password"
                  name="otp_code"
                  id="otp_code"
                  placeholder="Code"
                  style="max-width: 150px"
                />
                <input type="hidden" name="send_otp_code" id="send_otp_code" />
                <button
                  id="send_otp_code_btn"
                  class="btn btn-sm"
                  type="button"
                  style="border-radius: 0; font-size: 10px; margin: 0"
                >
                  Send Code
                </button>
              </div>
              <a href="#" class="d-none" id="login_with_otp_link">Login with otp code</a><a href="#" id="login_with_pass_link" >Login with password</a>
              <div class="mb-3">
                <button
                  class="btn btn-primary shadow d-block w-100"
                  type="submit"
                  style="
                    background: rgb(61, 103, 107);
                    margin-right: auto;
                    margin-left: auto;
                  "
                >
                  Log in
                </button>
              </div>
              <p class="text-muted">
                Don't have an account?&nbsp;&nbsp;<a href="{% url 'account:sign_up' %}"
                  >Sign Up</a
                >
              </p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var sendCodeButton = document.querySelector('#send_otp_code_btn');
    var otpCodeInput = document.querySelector('input[name="send_otp_code"]');
    sendCodeButton.addEventListener('click', function() {
      otpCodeInput.value = "pso";
      var form = sendCodeButton.closest('form');
      form.submit();
    });
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function() {
    $("#login_with_otp_link").click(function(e) {
      e.preventDefault();
      $("#login_with_otp").removeClass("d-none");
      $("#login_with_pass").addClass("d-none");
      $("#login_with_otp_link").addClass("d-none");
      $("#login_with_pass_link").removeClass("d-none");
    });

    $("#login_with_pass_link").click(function(e) {
      e.preventDefault();
      $("#login_with_pass").removeClass("d-none");
      $("#login_with_otp").addClass("d-none");
      $("#login_with_pass_link").addClass("d-none");
      $("#login_with_otp_link").removeClass("d-none");
    });
  });
</script>

{% endblock %}
