{% extends "core/base.html" %} {% load static %} {% block title%}
<title>Shopping Cart - Brand</title>
{% endblock %} {% block content %}

<section>
  <div class="card">
    <div class="card-body py-5">
      <div class="table-responsive" style="margin-left: 5%; margin-right: 5%">
        <table class="table">
          <thead>
            <tr style="border-style: solid; border-color: rgb(36, 36, 36)">
              <th
                class="border rounded-0 justify-content-center align-items-center align-content-center align-self-center"
                style="width: 20%; text-align: center"
              >
                <img
                  class="justify-content-center align-items-center align-content-center align-self-center"
                  id="item_image"
                  style="
                    text-align: center;
                    width: auto;
                    max-height: 100px;
                    height: auto;
                    max-width: 90%;
                  "
                  src="{% static 'assets/img/transparent-photo-icon-for-your-interface-icon-picture-icon-5f9e5dcf942c94.2750417916042142236069copy.png' %}"
                />
              </th>
              <th
                class="border rounded-0 justify-content-center align-items-center align-content-center align-self-center"
                style="width: 20%; padding: 0; text-align: center"
              >
                <p
                  id="item_name"
                  style="margin-top: 25%; margin-bottom: 25%"
                ></p>
              </th>
              <th
                class="border rounded-0 justify-content-center align-items-center align-content-center align-self-center"
                style="width: 20%; text-align: center"
              >
                <p
                  id="item_price"
                  style="
                    text-align: center;
                    margin-top: 25%;
                    margin-bottom: 25%;
                  "
                ></p>
              </th>
              <th
                class="border rounded-0 justify-content-center align-items-center align-content-center align-self-center"
                style="width: 20%; text-align: center"
              >
                <div
                  class="d-flex"
                  id="item_counter-2"
                  style="display: block; margin-top: auto; margin-bottom: auto"
                >
                  <button
                    class="btn btn-danger d-inline-flex justify-content-center align-items-center align-content-center"
                    id="delete_item"
                    type="button"
                    style="
                      width: 25px;
                      height: 25px;
                      padding: 3px;
                      border-radius: 30px;
                      text-shadow: 0px 0px 8px rgba(253, 126, 20, 0.8);
                      text-align: center;
                      border-style: solid;
                      border-color: var(--bs-gray-500);
                      color: rgb(247, 253, 238);
                      margin-top: auto;
                      margin-bottom: auto;
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      class="bi bi-trash"
                      style="
                        /*background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);*/
                        color: rgb(247, 253, 238);
                        font-weight: bold;
                      "
                    >
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"
                      ></path>
                      <path
                        fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"
                      ></path>
                    </svg></button
                  ><button
                    class="btn btn-primary d-inline-flex justify-content-center align-items-center align-content-center"
                    type="button"
                    style="
                      background: var(--bs-gray-500);
                      width: 25px;
                      height: 25px;
                      padding: 3px;
                      border-radius: 30px;
                      text-shadow: 0px 0px 8px rgba(253, 126, 20, 0.8);
                      text-align: center;
                      border-style: solid;
                      border-color: var(--bs-gray-500);
                      color: rgb(0, 0, 0);
                      margin-top: auto;
                      margin-bottom: auto;
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      class="bi bi-dash-lg"
                      style="
                        /*background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);*/
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                      "
                    >
                      <path
                        fill-rule="evenodd"
                        d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"
                      ></path>
                    </svg></button
                  ><input
                    type="number"
                    class="quantity-field border-0 text-center w-25"
                    style="
                      width: 70px;
                      margin-right: 5px;
                      margin-left: 5px;
                      border-radius: 30px;
                      padding-right: 2px;
                      padding-left: 6px;
                    "
                    min="1"
                    value="1"
                    name="quantity"
                    step="1"
                  /><button
                    class="btn btn-primary d-inline-flex justify-content-center align-items-center align-content-center"
                    type="button"
                    style="
                      background: var(--bs-gray-500);
                      width: 25px;
                      height: 25px;
                      padding: 3px;
                      border-radius: 30px;
                      text-shadow: 0px 0px 8px rgba(253, 126, 20, 0.8);
                      text-align: center;
                      border-style: solid;
                      border-color: var(--bs-gray-500);
                      color: rgb(0, 0, 0);
                      margin-top: auto;
                      margin-bottom: auto;
                    "
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="1em"
                      height="1em"
                      fill="currentColor"
                      viewBox="0 0 16 16"
                      class="bi bi-plus-lg"
                      style="
                        /*background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);*/
                        color: rgb(0, 0, 0);
                        font-weight: bold;
                      "
                    >
                      <path
                        fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"
                      ></path>
                    </svg>
                  </button>
                </div>
              </th>
              <th class="border rounded-0" style="width: 20%">
                <p
                  id="item_total"
                  style="
                    text-align: center;
                    margin-top: 25%;
                    margin-bottom: 25%;
                  "
                ></p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
            <tr></tr>
          </tbody>
        </table>
      </div>
      <div
        class="d-flex"
        style="margin-bottom: 20px; margin-top: 20px; margin-left: 5%"
      >
        <input
          type="text"
          name="discount_code"
          placeholder="Enter Discount Code"
          style="
            margin-right: 15px;
            border-radius: 30px;
            text-align: center;
            box-shadow: 0px 0px 10px rgb(142, 93, 161);
            border-style: none;
          "
        />
        <div
          class="alert alert-success d-none"
          role="alert"
          style="
            margin-top: auto;
            margin-bottom: auto;
            padding: 0;
            max-width: 200px;
            text-align: center;
          "
        >
          <span><strong>Discount accepted</strong></span>
        </div>
        <div
          class="alert alert-danger d-none"
          role="alert"
          style="
            margin-top: auto;
            margin-bottom: auto;
            padding: 0;
            max-width: 200px;
            text-align: center;
          "
        >
          <span><strong>Code is not Valid</strong></span>
        </div>
      </div>
      <div class="table-responsive" style="width: 50%; margin-left: 5%">
        <table class="table">
          <thead class="border rounded-0">
            <tr class="border rounded-0"></tr>
          </thead>
          <tbody class="border rounded-0">
            <tr class="border rounded-0">
              <td class="border rounded" style="width: 20%">Discount</td>
              <td class="border rounded" id="discount" style="width: 30%"></td>
            </tr>
            <tr class="border rounded">
              <td class="border rounded" style="width: 20%">Total</td>
              <td
                class="border rounded"
                id="invoice_total"
                style="width: 30%"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button
        class="btn btn-primary"
        type="button"
        style="
          background: rgb(61, 103, 107);
          color: rgb(247, 253, 238);
          width: 90%;
          padding: 4px 2px;
          margin-left: 5%;
          margin-right: 5%;
        "
      >
        Confirm
      </button>
    </div>
  </div>
</section>

{% endblock %}
