{% extends "core/base.html" %}{% load static %}  {% block title%}
<title>Brands - Brand</title>
{% endblock %} {% block content %}
    <section>
        <div class="container">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="fw-bold">Top&nbsp;Brands</h1>
                </div>
            </div>
            <div class="mx-auto" style="max-width: 900px;">
                <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                    <div class="col mb-4">
                        <div class="card bg-primary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5" style="backdrop-filter: opacity(1) blur(0px);-webkit-backdrop-filter: opacity(1) blur(0px);background: url(&quot;{% static 'assets/img/kisspng-chanel-coco-mademoiselle-fashion-design-designer-5afc3ed021dcb7.3701190815264805921387.png' %}&quot;) no-repeat;background-size: cover;">
                                <p class="fw-bold text-primary card-text mb-2">CHANEL</p>
                                <h5 class="fw-bold card-title mb-3" style="font-size: 20px;">Lifelong companions for the woman who is autonomous</h5><button class="btn btn-primary btn-sm" type="button">Explore</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card bg-secondary-light">
                            <div class="card-body text-center px-4 py-5 px-md-5" style="background: url(&quot;{% static 'assets/img/kisspng-donatella-versace-fashion-versace-men-perfume-tommy-hilfiger-logo-5b35c2a1789dd1.1850494015302498894941.png' %}&quot;) no-repeat;">
                                <p class="fw-bold text-secondary card-text mb-2">VERSACE</p>
                                <h5 class="fw-bold card-title mb-3">It's a stunning and hot scent that draw attention of everyone</h5><button class="btn btn-secondary btn-sm" type="button">Explore</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card bg-info-light">
                            <div class="card-body text-center px-4 py-5 px-md-5" style="background: url(&quot;{% static 'assets/img/kisspng-brand-logo-bulgari-hotels-resorts-bulgari-hotels-3-ways-that-luxury-brands-can-innovate-–-toprigh-5b6a52e3a94d93.8664282615336946916935.png' %}&quot;) no-repeat;">
                                <p class="fw-bold text-info card-text mb-2">BVLGARI</p>
                                <h5 class="fw-bold card-title mb-3">Just three words:<br>Classic, Firm, Nifty</h5><button class="btn btn-info btn-sm" type="button">Explore</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card" style="background: rgba(203,210,188,0.63);">
                            <div class="card-body text-center px-4 py-5 px-md-5" style="background: url(&quot;{% static 'assets/img/kisspng-gucci-milan-fashion-week-italian-fashion-logo-logo-gucci-5b23156f47e071.8334917815290259032944.png' %}&quot;) no-repeat;">
                                <p class="fw-bold text-success card-text mb-2">GUCCI</p>
                                <h5 class="fw-bold card-title mb-3">It's a combination of floral and pear, but not citrusy</h5><button class="btn btn-success btn-sm" type="button">Explore</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container py-5">
            <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                <div class="text-center">
                    <h1 class="fw-bold">All</h1>
                </div>
            </div>
            <div class="mx-auto" style="max-width: 900px;">
                <div class="row row-cols-1 row-cols-md-2 d-flex justify-content-center">
                    <div class="col mb-4">
                        <div class="card" style="background: rgba(203,210,188,0.63);">
                            <div class="card-body text-center px-4 py-5 px-md-5" style="background: url(&quot;{% static 'assets/img/transparent-photo-icon-for-your-interface-icon-picture-icon-5f9e5dcf942c94.2750417916042142236069copy.png' %}&quot;)  center / auto no-repeat;">
                                <p class="fw-bold text-success card-text mb-2" id="brand_name">Brand Name</p>
                                <h5 class="fw-bold card-title mb-3" id="brand_info">Brand Info</h5><button class="btn btn-success btn-sm" id="explore_" type="button">Explore</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card" style="background: rgba(203,210,188,0.63);">
                            <div class="card-body text-center px-4 py-5 px-md-5" style="background: url(&quot;{% static 'assets/img/transparent-photo-icon-for-your-interface-icon-picture-icon-5f9e5dcf942c94.2750417916042142236069copy.png' %}&quot;) center / auto no-repeat;">
                                <p class="fw-bold text-success card-text mb-2" id="brand_name-1">Brand Name</p>
                                <h5 class="fw-bold card-title mb-3" id="brand_info-1">Brand Info</h5><button class="btn btn-success btn-sm" id="explore_-1" type="button">Explore</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card" style="background: rgba(203,210,188,0.63);">
                            <div class="card-body text-center px-4 py-5 px-md-5" style="background: url(&quot;{% static 'assets/img/transparent-photo-icon-for-your-interface-icon-picture-icon-5f9e5dcf942c94.2750417916042142236069copy.png'%}&quot;) center / auto no-repeat;">
                                <p class="fw-bold text-success card-text mb-2" id="brand_name-2">Brand Name</p>
                                <h5 class="fw-bold card-title mb-3" id="brand_info-2">Brand Info</h5><button class="btn btn-success btn-sm" id="explore_-2" type="button">Explore</button>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card" style="background: rgba(203,210,188,0.63);">
                            <div class="card-body text-center px-4 py-5 px-md-5" style="background: url(&quot;{% static 'assets/img/transparent-photo-icon-for-your-interface-icon-picture-icon-5f9e5dcf942c94.2750417916042142236069copy.png' %}&quot;) center / auto no-repeat;">
                                <p class="fw-bold text-success card-text mb-2" id="brand_name-3">Brand Name</p>
                                <h5 class="fw-bold card-title mb-3" id="brand_info-3">Brand Info</h5><button class="btn btn-success btn-sm" id="explore_-3" type="button">Explore</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}