{% extends "core/base.html" %}{% load static %}  {% block title%}
<title>Product - Brand</title>
{% endblock %} {% block content %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12" style="text-align: center;"><img class="img-thumbnail img-fluid center-block" src="{% static 'assets/img/transparent-photo-icon-for-your-interface-icon-picture-icon-5f9e5dcf942c94.2750417916042142236069copy.png' %}" style="max-height: 310px;width: auto;height: auto;max-width: 100%;margin-right: auto;margin-left: auto;"></div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h1 id="product_name">Product Name</h1>
                    <p id="product_info">Product Info</p>
                    <h2 class="text-center text-success" id="product_price"><i class="fa fa-dollar"></i>&nbsp;318.00</h2><button class="btn btn-danger btn-lg center-block" type="button" style="background: rgb(142,93,161);"><i class="fa fa-cart-plus"></i> Add to Cart</button>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}